<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>trak-client</title>
    <link rel="stylesheet" href="<%= app_base %>/css/trak.css" />
    <base href="<%= app_base %>/" />
</head>
<body>

<script>
    var settings = JSON.parse(localStorage.getItem('app-color'));

    if (settings && settings.color && settings.color.appColor) {
        document.body.style.backgroundColor = settings.color.appColor;
    }
</script>
<script src="<%= app_base %>/js/trak.js"></script>
</body>
</html>