html, body, .app-root {
    height: 100%;
}

body {
    .app-root {
        display: flex;
    }

    color: rgba(255, 255, 255, 0.9);
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;

    /*background-color: #795548;*/
    /*background-color: #2980b9;*/
    /*background-color: #27ae60;*/
    /*background-color: #e74c3c;*/
    background-color: #455A64;
    /*background-color: #3f3e3d;*/
}

aside {
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    width: 300px;
}

aside header .btn-lg,
aside footer .btn-lg {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 0;
    color: #fff;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.75);
    text-align: left;
}

.navbars .navbar-nav>li>a {
    color: rgba(255, 255, 255, 0.5);
}


.navbars {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    -webkit-flex-direction: row;
    flex-direction: row;
}

.navbar.navbar-vertical {
    border: 0;
    margin-bottom: 0;
}
.navbar-vertical .navbar-nav {
    float: none;
}
.navbar-vertical .navbar-nav>li {
    float: none;
}

/* navbar-main */

.navbar-main {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0.2);
    width: 50px;
}
.navbar-main .navbar-nav>li>a {
    text-align: center;
    font-size: 25px;
    line-height: 30px;
    padding: 10px;
}
.navbar-main .navbar-nav>.active>a,
.navbar-main .navbar-nav>.active>a:focus,
.navbar-main .navbar-nav>.active>a:hover {
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.75);
}
.navbar-main .navbar-nav>li>a:focus,
.navbar-main .navbar-nav>li>a:hover {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.1);
}

/* navbar-context */

.navbar-context {
    border-radius: 0;
    background-color: transparent;
    -webkit-flex-grow: 1;
    flex-grow: 1;
}
.navbar-context .navbar-nav {
    margin-top: 15px;
}

.navbar-context .navbar-nav .badge {
    float: right;  /* problem, if not fitted puts the badge on next row (item) visually */
    margin-top: 6px;
    font-weight: normal;
    /*background-color: rgba(0, 0, 0, 0.2);*/
    background-color: rgba(255, 255, 255, 0.2);
}

.navbar-context .navbar-nav>li {
    /*padding-left: 4px;*/
    /*padding-left: 10px;*/
    /*padding-left: 4px;*/
}
.navbar-context .navbar-nav>li>a {
    padding: 0 15px 0 30px;
    /*padding-left: 4px;*/
    /*padding: 0;*/
    height: 30px;
    line-height: 30px;
    /*padding: 5px 0;*/
    /*padding: 5px 10px 5px 25px;*/
}
.navbar-context .navbar-nav>.active>a {
    padding-left: 26px;  /* compensate active left (red) border, 30-4 */
    border-left: 4px solid #f40;
}

.navbar-context .navbar-nav>.active>a,
.navbar-context .navbar-nav>.active>a:focus,
.navbar-context .navbar-nav>.active>a:hover {
    color: #fff;
    font-weight: bold;
    background-color: transparent;
}
.navbar-context .navbar-nav>li>a:focus,
.navbar-context .navbar-nav>li>a:hover {
    color: #fff;
}
.navbar-context .navbar-nav>li>a:hover,
.navbar-context .navbar-nav>.active>a:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.navbar-context .navbar-nav>li.parent>a:first-child {
    float: left;
    width: 30px;
    padding-left: 10px;
}
.navbar-context .navbar-nav>li.parent>a:first-child>i {
    text-indent: 4px;  /* compensate active left (red) border */
}
.navbar-context .navbar-nav>li.active.parent>a:first-child>i {
    text-indent: 0;  /* reset active left compensation (red) border */
}


/* article */

article {
    /*background-color: #fff;*/
    flex: 1 100%;
}

/* table */

.table>thead>tr>th {
    /*border-bottom-color: rgba(255, 255, 255, 0.2);*/
    border-bottom-color: rgba(0, 0, 0, 0.1);
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    /*border-top-color: rgba(255, 255, 255, 0.2);*/
    border-top-color: rgba(0, 0, 0, 0.1);
}
.table-hover>tbody>tr:hover {
    background-color: rgba(0, 0, 0, 0.1);
}