html, body, .app-root {
    height: 100%;
}

body {
    .app-root {
        display: flex;
    }

    &.dark {
        color: rgba($inverse-when-dark, 0.9);
    }

    &.light {
        color: rgba($inverse-when-light, 0.9);
    }

    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;

    /*background-color: #795548;*/
    /*background-color: #2980b9;*/
    /*background-color: #27ae60;*/
    /*background-color: #e74c3c;*/
    background-color: $app-color;
    /*background-color: #3f3e3d;*/
}

aside {
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    width: 300px;
}

aside header .btn-lg,
aside footer .btn-lg {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 0;
    color: #fff;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.75);
    text-align: left;
}

.app-content {
    flex: 1 100%;
}

.navbars {
    display: flex;
    flex-grow: 1;
    flex-direction: row;

    .nav {
        li {
            margin-top: 0;

            a {
                @include text-color(0.5);
            }
        }
    }
}

nav.nav-main {
    flex-shrink: 0;
    background-color: rgba(0, 0, 0, 0.2);

    ul.nav-main {
        border: 0;
        margin-bottom: 0;
        border-radius: 0;
        width: 50px;

        > li {

            > a {
                text-align: center;
                font-size: 25px;
                line-height: 30px;
                padding: 10px;

                &:focus, &:hover {
                    color: $text-color;
                    background-color: rgba(0, 0, 0, 0.1);
                }
            }

            &.active {
                > a {
                    &, &:hover, &:focus {
                        background-color: rgba(0, 0, 0, 0.4);
                        color: $text-color;
                        text-shadow: 0 1px 2px rgba(0, 0, 0, 0.75);
                    }
                }
            }
        }
    }
}

nav.nav-context {
    flex-grow: 1;
    border-radius: 0;
    background-color: transparent;

    ul.nav-context {
        margin-top: 15px;

        .badge {
            float: right;  /* problem, if not fitted puts the badge on next row (item) visually */
            margin-top: 6px;
            font-weight: normal;
            /*background-color: rgba(0, 0, 0, 0.2);*/
            @include inverse-bg(0.2);
        }

        li {
            a {
                padding: 0 15px 0 30px;
                /*padding-left: 4px;*/
                /*padding: 0;*/
                height: 30px;
                line-height: 30px;
                /*padding: 5px 0;*/
                /*padding: 5px 10px 5px 25px;*/

                &:hover, &:focus {
                    @include text-color();
                    background-color: rgba(0, 0, 0, 0.1);
                }
            }

            &.active {
                > a {
                    @include text-color();

                    padding-left: 26px;  /* compensate active left (red) border, 30-4 */
                    border-left: 4px solid #f40;
                    font-weight: bold;

                    &:focus, &:hover {
                        @include inverse();

                        font-weight: bold;
                        background-color: rgba(0, 0, 0, 0.1);
                    }
                }
            }

            &.parent {
                > a:first-child {
                    float: left;
                    width: 30px;
                    padding-left: 10px;

                    > i {
                        text-indent: 4px;  /* compensate active left (red) border */
                    }

                }

                &.active > a:first-child > i {
                    text-indent: 0;  /* reset active left compensation (red) border */
                }
            }
        }
    }
}


/* table */

.table>thead>tr>th {
    /*border-bottom-color: rgba(255, 255, 255, 0.2);*/
    border-bottom-color: rgba(0, 0, 0, 0.1);
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    /*border-top-color: rgba(255, 255, 255, 0.2);*/
    border-top-color: rgba(0, 0, 0, 0.1);
}
.table-hover>tbody>tr:hover {
    background-color: rgba(0, 0, 0, 0.1);
}