.ticket {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100%;

    > * {
        width: 100%;
    }

    header {
        flex-shrink: 0;
        background-color: fade(0.2);
    }

    footer {
        flex-shrink: 0;
        background-color: fade(0.2);
        color: fade(0.8);
    }
}


/* tabs (within ticket content area) */

.ticket header .nav-tabs>li>a {
    @include text-color(0.5);
}
.ticket header .nav-tabs>li>a:hover {
    @include text-color();
}
.ticket header .nav-tabs.nav-justified>.active.threads>a {
    border-top: 4px solid transparent;
}
.ticket header .nav-tabs.nav-justified>.active.thread-1>a {
    border-top: 4px solid #f40;
}
.ticket header .nav-tabs.nav-justified>.active.thread-2>a {
    border-top: 4px solid #28B1E0;
}
.ticket header .nav-tabs.nav-justified>.threads>a {
    border-bottom: 4px solid transparent;
}
.ticket header .nav-tabs.nav-justified>.thread-1>a {
    border-bottom: 4px solid #f40;
}
.ticket header .nav-tabs.nav-justified>.thread-2>a {
    border-bottom: 4px solid #28B1E0;
}
.ticket header .nav-tabs>li.active>a,
.ticket header .nav-tabs>li.active>a:focus,
.ticket header .nav-tabs>li.active>a:hover {
    background-color: #455A64;
    color: rgba(255, 255, 255, 1);
}

.ticket header .nav-tabs.nav-justified>.active>a,
.ticket header .nav-tabs.nav-justified>.active>a:focus,
.ticket header .nav-tabs.nav-justified>.active>a:hover {
    border-left-color: transparent;
    border-bottom-color: transparent;
    border-right-color: transparent;
}

.ticket .nav-tabs.nav-justified>li>a {
    border-color: transparent;
}

.ticket header .nav>li>a:focus, .nav>li>a:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

