.ticket {

    .messages {
        margin-bottom: 15px;

        .timestamp {
            text-align: center;
            line-height: 1;
        }

        .timestamp:first-child {
            margin-top: 15px;
        }

        .timestamp time.badge {
            @include text-color();

            background-color: fade(10);
            font-weight: normal;
            padding: 5px 10px;
        }

        .message {
            color: rgba(#000, 0.8);

            background-image: linear-gradient(180deg, transparent, fade(10), transparent);
            background-position: 50%;
            background-repeat: repeat-y;
            background-size: 1px 1px;

            padding: 15px 0;

            &:last-child {
                padding-bottom: 0;
            }
            .panel {
                border: 0;
                margin-bottom: 0;
                /*border-radius: 3px;*/
            }

            &.note {
                .panel {
                    @include text-color(0.8);
                    @include inverse(0.1, background-color);

                    border: 1px dashed rgba(255, 255, 255, 0.3);

                    @include inverse(0.8, border-color);
                }
            }
        }

        .panel-heading .address.badge {
            background-color: transparent;
            border: 1px solid #ccc;
            color: #333;
            font-weight: normal;
        }

        .message.thread-1 .panel {
            border-top: 4px solid #f40;
        }

        .message.thread-2 .panel {
            border-top: 4px solid #28B1E0;
        }
    }

    form.compose {
        color: rgba(0, 0, 0, 0.8);
    }

    form.compose textarea {
        border-radius: 2px;
        border: 0;
    }
    form.compose.private textarea {
        background-color: #feb;
        color: #9C6547;
    }

    form.compose .panel {
        background-color: rgba(0, 0, 0, 0.2);
        margin-bottom: 0;
        border: 0;
    }

    form.compose .panel {
        border-radius: 0;
    }

    form.compose .panel .panel-heading {
        background-color: transparent;
        border-bottom: 0;
        padding: 15px;
        display: none;
    }

    form.compose .panel .panel-body {
        /*padding-top: 0;*/
    }

    form.compose .panel .panel-footer {
        background-color: rgba(0, 0, 0, 0.1);
        border-top: 0;
        overflow: hidden;
    }

    form.compose .panel .panel-footer .nav-pills > li + li {
        margin-left: 10px;
    }

    form.compose .panel .panel-footer .btn-default {
        border-color: rgba(255, 255, 255, 0.2);
        background-color: transparent;
        color: rgba(255, 255, 255, 0.7);
    }
    form.compose .panel .panel-footer .btn-default:focus,
    form.compose .panel .panel-footer .btn-default:hover {
        border-color: rgba(255, 255, 255, 0.3);
        background-color: rgba(0, 0, 0, 0.1);
        color: rgba(255, 255, 255, 1);
    }
    form.compose .panel .panel-footer .btn-default.tool {
        border-color: transparent;
    }
    form.compose .panel .panel-footer .btn-default.tool:focus,
    form.compose .panel .panel-footer .btn-default.tool:hover {
        border-color: rgba(255, 255, 255, 0.2);
        background-color: transparent;
    }
    form.compose .panel .panel-footer .btn-default.tool.active {
        color: #fff; /* both dark and light */
        background-color: rgba(0, 0, 0, 0.2);
    }
}