@import "mixins/color";

.ticket-list {
    &.table {
        thead {
            tr {
                th {
                    border-bottom-color: fade(0.1);
                }
            }
        }

        tbody {
            tr {
                cursor: pointer;

                &:hover {
                    background-color: fade(0.1);
                }
            }
        }

        tbody, tfoot, thead {
            td, th {
                border-top-color: fade(0.1);
            }
        }
    }
}