@import "bootstrap-sass-official/assets/stylesheets/bootstrap";
@import "font-awesome/scss/font-awesome";

@import "variables";

@import "mixins/color";
@import "color-picker";

// Components
@import "desk";
@import "aside";
@import "nav";
@import "ticket-list";
@import "ticket";
@import "messages";
@import "composer";
@import "login";

@import "app-root";
@import "components/auth-info";



html {
}

/* Must be a root definition, otherwise inverse() fails */

body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;

    background-color: $app-color;
}

.view-root {
    display: flex;
}

.scrollable {
    overflow: auto;
    max-height: 100%;
}
