@import "bootstrap-sass-official/assets/stylesheets/bootstrap";
@import "font-awesome/scss/font-awesome";

@import "variables";

@import "mixins/color";

@import "nav";
@import "ticket-list";
@import "ticket";
@import "color-picker";



html, body, .app-root, .view-root {
    height: 100%;
}

html {
}

/* Must be a root definition, otherwise inverse() fails */
.view-root {
    @include inverse();
}

body {
    .view-root {
        display: flex;
    }

    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;

    /*background-color: #795548;*/
    /*background-color: #2980b9;*/
    /*background-color: #27ae60;*/
    /*background-color: #e74c3c;*/
    background-color: $app-color;
    /*background-color: #3f3e3d;*/

    main.app-root {
        &.dark {
            color: rgba($inverse-when-dark, 0.9);
        }

        &.light {
            color: rgba($inverse-when-light, 0.9);
        }
    }
}

aside {
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    width: 300px;
}

aside header .btn-lg,
aside footer .btn-lg {
    @include text-color();
    background-color: fade(30);
    border-radius: 0;
    //text-shadow: 0 1px 2px fade(75);
    text-align: left;
}

.view-content {
    flex: 1 100%;
    overflow-y: auto;
}
